@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  background-color:#1a3c23;
  color: #363131;
}
h1,h2,h3{
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}

.h1{font-size:48px}

button {
  width: 200px;
  height: 50px;
  margin: 6px 6px;
  border-radius: 30px;
  border: 1px solid #1a1818;
  background-color: #fcfcfa;
  cursor: pointer;
  font-weight: medium;
  letter-spacing: 0.5px;
  font-size:16px;
}

.glass {
  background-color: #1baa7d;
}
.paper {
  background-color: #ef81af;
}
.rest {
  background-color: #070707;
  color: #fcfcfa;
}
.plastic {
  background-color: #f7c709;
}
.metall {
  background-color: #142fe0;
  color: #fcfcfa;
}
.bio {
  background-color: #1a3c23;
  color: #fcfcfa;
}
.sperr {
  background-color: #fcfcfa;
}
.correct{
  color:hsl(136, 60%, 40%);
}
.wrong{
  color:#d8075e;
}
.main{
  color:#1a3c23;
}

.white{
  color:white;
}
.problem{
  background-color: white;
  border: 2px solid #deeb30;
}